Source: dq
Section: net
Priority: standard
Build-Depends: debhelper (>= 9),
               libnacl-dev [amd64] | libnacl-dev [i386],
Maintainer: Jan Mojzis <jan.mojzis@gmail.com>
Homepage: https://mojzis.com/software/dq/
Standards-Version: 3.9.6

Package: dq
#Section: net
Depends: ${misc:Depends},
         ${shlibs:Depends},
Architecture: any
Description: DNS/DNSCurve query tool
 The dq package provides software for DNS/DNSCurve.
 This software is derived from djbdns, adds DNSCurve protection and
 support for IPv6.
 .
 dq is commandline tool similar to dnsq, dnsqr from djbdns.
 Is used to query DNS/DNSCurve server for specific
 type of records about a given domain name.

Package: dqcache
#Section: net
Depends: ${misc:Depends},
         ${shlibs:Depends},
Architecture: any
Description: DNS/DNSCurve recursive server - binaries
 The dq package provides software for DNS/DNSCurve.
 This software is derived from djbdns, adds DNSCurve protection and
 support for IPv6.
 .
 dqcache is recursive DNS/DNSCurve server derived from dnscache.

Package: dqcache-run
#Section: net
Depends: adduser,
         daemontools-run,
         dqcache,
         ${misc:Depends},
Conflicts: dqcache-server,
Architecture: all
Description: DNS/DNSCurve recursive server - running under daemontools
 The dq package provides software for DNS/DNSCurve.
 This software is derived from djbdns, adds DNSCurve protection and
 support for IPv6.
 .
 dqcache-run automatically sets up the dqcache package to provide a
 dqcache service.
